<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">自动化测试平台</div>
        <ul id="system-nav" class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a data-system-id="1"><span id="system_1">车贷系统</span></a></li>
            <li class="layui-nav-item"><a data-system-id="2"><span id="system_2">信贷系统</span></a></li>
            <li class="layui-nav-item"><a data-system-id="3"><span id="system_3">P2P系统</span></a></li>
            <!--当前选中系统-->
            <li class="layui-nav-item" style="display: none;"><a id="current-system" th:attr="data-system-id=3">当前系统</a></li>
        </ul>
    </div>
</div>




<script src="/layui/layui.js"></script>
<script type="text/html" id="tool-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>



<script>
    var current_system_id = document.getElementById('current-system').getAttribute('data-system-id');
    console.log(current_system_id);
    if(current_system_id === '1'){
        document.getElementById('system_1').style.color='#008000';
    }else if(current_system_id === '2'){
        document.getElementById('system_2').style.color='#008000';
    }else if(current_system_id==='3'){
        document.getElementById('system_3').style.color='#008000';
    }

</script>


</body>
</html>